#GPic-background {
    position :           fixed;
    top :                0;
    z-index :            999999999;
    background-color :   rgba(255, 255, 255, 0.5);
    font-family: "Segoe UI Light",Tahoma,arial,sans-serif ;
}

#GPic-sharebox {
    position:       fixed;
    top:            50%;
    left:           50%;
    width:          16em;
    height:         9em;
    max-height:     16em;
    margin-left:    -8em;
    margin-top:     -5em;
    background-color: white;
    box-shadow: inset 1px 1px 0 rgba(0,0,0,.1),inset 0 -1px 0 rgba(0,0,0,.07), 2px 2px 0 rgba(0,0,0,0.8);
}

textarea#Gpic-comment-area {
    border:             2px solid #464646;
    color:              #DDDDDD;
    padding:            8px 9px;
    margin:             1%;
    cursor:             text;
    background-color:   rgba(50,50,50,0.5);
}

#Gpic-selected-circles {
    background:         white;
    border:             0px;
    padding:            3px;
    background-color:   white;
}

#Gpic-selected-circles .Gpic-circle-option {
    display: inline-block;
    height: 2em;
    color: #fff;
    margin: 2px;
    outline: none;
    padding: 0 1px;
    vertical-align: middle;
    cursor: default;
}

#Gpic-selected-circles .Gpic-circle-option[data-default-circle] {
   background-color: #00A300;
}

#Gpic-selected-circles .Gpic-circle-option[data-circle-id] {
   background-color: #B91D47;
}

#Gpic-circles {
    display: none;
}

#Gpic-circles.active {
    display: block;
    max-height: 5em;
}

#Gpic-sharebox button {
    cursor: default;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
    margin-right: 16px;
    height: 27px;
    line-height: 27px;
    min-width: 54px;
    outline: 0;
    padding: 0 8px;
    font-family: "Segoe UI Light",Tahoma,arial,sans-serif ;
}

#Gpic-send {
    background: #008287;
    opacity: 0.5;
}
#Gpic-send.active {
    opacity: 1;
}